@import url("estilo.css");

.secao-formulario {
    border: 1px solid black;
    text-align: center;
    width: 600px;
    height: 400px;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
}

.campo-formulario {
    padding: 50px;
}

.imagem-form {
    background-image: url("https://images.unsplash.com/photo-1517248135467-4c7edcad34c4");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    width:280px;
    height: 400px;
    border-radius: 10px;
    border: 1px solid black;
}

.lado-formulario {
    padding: 50px;
    background-color: rgb(219, 212, 212);
    border: 1px solid black;
    border-radius: 10px;
}

.formulario {
    display: grid;
    text-align: left;
}

label {
    margin-bottom:10px;
}


input , textarea {
   width: 230px;
   margin-bottom: 20px;
   border-radius: 10px;
   border: 1px solid black;
}

textarea {
    height: 100px;
    display: block;
}

button {
    background-color: green;
    border-radius: 10px;
    border: 1px solid black;
}

